<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Nodepop</a>
      <form action="/" method="GET">
        <input type="text" name="nombre">
        <select name="venta">
          <option value="">Todos</option>
          <option value="true">Comprar</option>
          <option value="false">Vender</option>
        </select>
        <input type="submit" value="buscar">
      </form>
    </nav>

    <% if (Object.keys(productos).length === 0) { %>
      <h1>No se encontraron productos con esos criterios</h1>
      <a href="./">Volver a todos los productos</a>
    <% } %>

    <%productos.forEach(producto => { %>
      <article class="product">
        <div class="product-card">
          <h1 class="product-title"><%= producto.nombre %></h1>
          <img src="<%= producto.foto %>" alt="" style="max-width: 300px; max-height: 300px;">
          <div class="product-status">
            <span class="status">
              <% if (producto.venta === true) { %> 
                🪙 Compra
              <% } else { %> 
                🤑 vende
              <% } %>  
            </span>
            <span><%= producto.precio %>€</span>
          </div>  
        </div>
        <div class="product-tags">
          <% producto.tags.forEach(tag => {  %>
            <a href="./?tags=<%= tag %>"><%= tag %></a>
          <% }); %>  
        </div>

      </article>
      
    <% }); %>

    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
