<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%productos.forEach(producto => { %>
      <h2><%= producto.nombre %></h2>
      <img src="<%= producto.foto %>" alt="" style="max-width: 300px; max-height: 300px;">
      <div><%= producto.precio %>€</div>
      <% if (producto.venta === true) { %> 
        Vender
      <% } else { %> 
        Comprar
      <% } %> 
    <% }); %>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= paginacion.skip %> 

  </body>
</html>
